#main {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    background-color: #fafafa
}

#intro {
    border-top: 1px solid #aaa;
    margin-top: 64px;
    padding-top: 64px;
    padding-left: 32px;
}

#intro_label {
    font-size: 150%;
}

#intro_name {
    font-size: 125%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.intro_title {
    font-weight: bold;
    margin-top: 32px;
}

.intro_content {
    margin-left: 8px;
    margin-top: 8px;
}
