#part_footer_outer{
    height: 150px;
    display: flex;
    align-items:flex-end;
    background-color: #eee;
    justify-content: space-around;
    width: 100%;
    bottom: 0px;
}

#part_footer_inner{
    transition-duration: 1s;
    margin: 16px;
    color: #888;
}