#part_header_outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#part_header {
    font-size: 30px;
}

#part_header_a{
    text-decoration: none;
    font-weight: bold;
}
