#main {
    transition-duration: 1s;
    margin-left: 10%;
    width: 80%;
    opacity: 0;
}

.label_title_frame {
    margin-bottom: 32px;
}

#label_title {
    display: inline;
    color: #ccc;
    padding: 6px;
    font-size: 150%;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    background-color: #666;
}

#tag_frame {
    margin-top: 32px;
}

#label_tag {
    color: #888;
}

.label_tag_item {
    background-color: #ddd;
    padding: 2px;
    margin: 4px;
    border-radius: 2px;
}
